{
 "swagger": "2.0",
 "info": {
  "description": "인천국제공항공사에서 제공하는 인천국제공항 화물편 운항 정보에 대한 데이터로 화물기 주간 운항 도착정보와 화물기 주간 운항 출발 정보를 제공합니다. 인천국제공항의 조회일 기준 D+6일간의 화물편 운항정보를 출발지 공항 코드 (IATA)를 기준으로 구분하여 항공사,출발지공항명,출발지공항코드(IATA),편명,예정시간,변경시간,주기장,터미널 등의 정보를 제공합니다. 개발 계정 일 1000트래픽, 운영 계정 신청 시 일 100000 트래픽을 제공합니다. 데이터 포맷은 JSON과 XML을 모두 제공합니다.",
  "version": "1.0.0",
  "title": "인천국제공항공사_화물편 주간 운항 현황"
 },
 "host": "apis.data.go.kr/B551177/StatusOfCargoFlightsDSOdp",
 "basePath": "",
 "schemes": [
  "https",
  "http"
 ],
 "paths": {
  "/getCargoArrivalsDSOdp": {
   "get": {
    "responses": {
     "99": {
      "description": "INVALID_REQUEST_PARAMETER_ERROR (잘못된 요청 파라메터)"
     },
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "$ref": "#/definitions/header-getCargoArrivalsDSOdp"
        },
        "body": {
         "$ref": "#/definitions/body-getCargoArrivalsDSOdp"
        }
       },
       "xml": {
        "name": "response"
       }
      }
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "화물편 주간 운항현황-도착",
    "description": "인천국제공항 +6일간의 화물편 운항정보(항공사,편명,예정시간,변경시간,출발공항,탑승구,현황,공항코드,터미널)를 제공",
    "operationId": "getCargoArrivalsDSOdp",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query",
     "example": "-"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": true,
     "in": "query",
     "example": "1"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": true,
     "in": "query",
     "example": "10"
    },
    {
     "name": "airport_code",
     "description": "공항코드",
     "type": "string",
     "required": false,
     "in": "query",
     "example": "MEM"
    },
    {
     "name": "type",
     "description": "표출 타입",
     "type": "string",
     "required": false,
     "in": "query",
     "example": "xml"
    }
   ]
  },
  "/getCargoDeparturesDSOdp": {
   "get": {
    "responses": {
     "99": {
      "description": "INVALID_REQUEST_PARAMETER_ERROR (잘못된 요청 파라메터)"
     },
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "$ref": "#/definitions/header-getCargoDeparturesDSOdp"
        },
        "body": {
         "$ref": "#/definitions/body-getCargoDeparturesDSOdp"
        }
       },
       "xml": {
        "name": "response"
       }
      }
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "화물편 주간 운항현황-출발",
    "description": "인천국제공항 +6일간의 화물편 운항정보(항공사,편명,예정시간,변경시간,도착공항,탑승구,현황,도착공항코드,터미널)를 제공",
    "operationId": "getCargoDeparturesDSOdp",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query",
     "example": "-"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": true,
     "in": "query",
     "example": "1"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": true,
     "in": "query",
     "example": "10"
    },
    {
     "name": "airport_code",
     "description": "공항코드",
     "type": "string",
     "required": false,
     "in": "query",
     "example": "HAN"
    },
    {
     "name": "type",
     "description": "표출 타입",
     "type": "string",
     "required": false,
     "in": "query",
     "example": "xml"
    }
   ]
  }
 },
 "definitions": {
  "header-getCargoArrivalsDSOdp": {
   "type": "object",
   "properties": {
    "resultCode": {
     "type": "string",
     "description": "결과코드"
    },
    "resultMsg": {
     "type": "string",
     "description": "결과메세지"
    }
   }
  },
  "body-getCargoArrivalsDSOdp": {
   "type": "object",
   "properties": {
    "items": {
     "$ref": "#/definitions/items-getCargoArrivalsDSOdp"
    },
    "numOfRows": {
     "type": "string",
     "description": "데이터 행"
    },
    "pageNo": {
     "type": "string",
     "description": "데이터 표출 페이지"
    },
    "totalCount": {
     "type": "string",
     "description": "데이터 항목 수"
    }
   }
  },
  "items-getCargoArrivalsDSOdp": {
   "type": "object",
   "properties": {
    "item": {
     "$ref": "#/definitions/item-getCargoArrivalsDSOdp"
    }
   }
  },
  "item-getCargoArrivalsDSOdp": {
   "type": "object",
   "properties": {
    "airline": {
     "type": "string",
     "description": "항공사"
    },
    "airport": {
     "type": "string",
     "description": "도착공항"
    },
    "airportCode": {
     "type": "string",
     "description": "도착공항코드"
    },
    "flightId": {
     "type": "string",
     "description": "편명"
    },
    "scheduleDateTime": {
     "type": "string",
     "description": "예정시간"
    },
    "estimatedDateTime": {
     "type": "string",
     "description": "변경시간"
    },
    "gatenumber": {
     "type": "string",
     "description": "탑승구"
    },
    "remark": {
     "type": "string",
     "description": "현황"
    },
    "terminalid": {
     "type": "string",
     "description": "터미널"
    }
   }
  },
  "header-getCargoDeparturesDSOdp": {
   "type": "object",
   "properties": {
    "resultCode": {
     "type": "string",
     "description": "결과코드"
    },
    "resultMsg": {
     "type": "string",
     "description": "결과메세지"
    }
   }
  },
  "body-getCargoDeparturesDSOdp": {
   "type": "object",
   "properties": {
    "items": {
     "$ref": "#/definitions/items-getCargoDeparturesDSOdp"
    },
    "numOfRows": {
     "type": "string",
     "description": "데이터 행"
    },
    "pageNo": {
     "type": "string",
     "description": "데이터 표출 페이지"
    },
    "totalCount": {
     "type": "string",
     "description": "데이터 항목 수"
    }
   }
  },
  "items-getCargoDeparturesDSOdp": {
   "type": "object",
   "properties": {
    "item": {
     "$ref": "#/definitions/item-getCargoDeparturesDSOdp"
    }
   }
  },
  "item-getCargoDeparturesDSOdp": {
   "type": "object",
   "properties": {
    "airline": {
     "type": "string",
     "description": "항공사"
    },
    "airport": {
     "type": "string",
     "description": "도착공항"
    },
    "airportCode": {
     "type": "string",
     "description": "도착공항코드"
    },
    "flightId": {
     "type": "string",
     "description": "편명"
    },
    "scheduleDateTime": {
     "type": "string",
     "description": "예정시간"
    },
    "estimatedDateTime": {
     "type": "string",
     "description": "변경시간"
    },
    "gatenumber": {
     "type": "string",
     "description": "탑승구"
    },
    "remark": {
     "type": "string",
     "description": "현황"
    },
    "terminalid": {
     "type": "string",
     "description": "터미널"
    }
   }
  }
 },
 "swaggerOprtinVOs": [
  {
   "oprtinUrl": "https://odp.airport.kr/openapi/StatusOfCargoFlightsDSOdp/getCargoDeparturesDSOdp",
   "oprtinNm": "화물편 주간 운항현황-출발",
   "oprtinDc": "인천국제공항 +6일간의 화물편 운항정보(항공사,편명,예정시간,변경시간,도착공항,탑승구,현황,도착공항코드,터미널)를 제공",
   "gwSvcNm": "getCargoDeparturesDSOdp",
   "operationId": "getCargoDeparturesDSOdp",
   "publicDataTyDetailCode": "PRDE02",
   "reqList": [
    {
     "paramtrNm": "serviceKey",
     "paramtrDc": "공공데이터포털에서 받은 인증키",
     "paramtrBassValue": "-",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "pageNo",
     "paramtrDc": "페이지번호",
     "paramtrBassValue": "1",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "numOfRows",
     "paramtrDc": "한 페이지 결과 수",
     "paramtrBassValue": "10",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "airport_code",
     "paramtrDc": "공항코드",
     "paramtrBassValue": "HAN",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "type",
     "paramtrDc": "표출 타입",
     "paramtrBassValue": "xml",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    }
   ],
   "resList": [
    {
     "paramtrNm": "header",
     "paramtrDc": "header",
     "paramtrDefNm": "#/definitions/header-getCargoDeparturesDSOdp",
     "subDefNm": "header-getCargoDeparturesDSOdp",
     "paramtrTy": "object",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "body",
     "paramtrDc": "body",
     "paramtrDefNm": "#/definitions/body-getCargoDeparturesDSOdp",
     "subDefNm": "body-getCargoDeparturesDSOdp",
     "paramtrTy": "object",
     "paramtrDivision": "필수",
     "ck": true
    }
   ]
  }
 ]
}