{
 "swagger": "2.0",
 "info": {
  "description": "공항코드값을 검색 조건으로 하여 인천공항 출발/도착 여객기의 항공사 이름,공항이름, 공항코드,정기운항편 일정 시작일,종료일,편명,요일정보,시즌코드값,코드세웨어구분,마스터편명 등의 정보를 다국어(국문,영문,일문,중문)로 나타내는 여객기 정기운항편 일정정보 서비스\\n\\n※ 개방중인 일일운항 API 에서 제공하는 MASTER FLIGHT/SLAVE편명에 대한 정보와 상이 할 수 있습니다. \\n해당 데이터는 1개시즌(하계 3월말~10월말/동계 10월말에서 익년3월말)에 대한 데이터로 업데이트주기가 아래 일일운항 API 와는 상이함을 알려드립니다.\\n* 여객기 운항 현황 상세조회 서비스 API, 여객편 주간 운항현황 API, 여객편 운항현황(다국어) API 드",
  "version": "1.0.0",
  "title": "인천국제공항공사_화물기 정기운항편 현황 상세 조회 서비스"
 },
 "host": "apis.data.go.kr/B551177/StatusOfCgoFltSched",
 "basePath": "",
 "schemes": [
  "https",
  "http"
 ],
 "paths": {
  "/getCgoFltSchedArrivalsDeOdp": {
   "get": {
    "responses": {
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "type": "object",
         "description": "header",
         "properties": {
          "resultCode": {
           "type": "string",
           "description": "결과코드",
           "properties": {}
          },
          "resultMsg": {
           "type": "string",
           "description": "결과메세지",
           "properties": {}
          }
         }
        },
        "body": {
         "type": "object",
         "description": "body",
         "properties": {
          "items": {
           "type": "object",
           "description": "items",
           "properties": {
            "item": {
             "type": "object",
             "description": "item",
             "properties": {
              "airline": {
               "type": "string",
               "description": "항공사명",
               "properties": {}
              },
              "airport": {
               "type": "string",
               "description": "인천공항에 도착하는 편명의 출발지공항명",
               "properties": {}
              },
              "airportCode": {
               "type": "string",
               "description": "인천공항에 도착하는 편명의 출발지공항(IATA) 코드",
               "properties": {}
              },
              "codeshare": {
               "type": "string",
               "description": "코드웨서 여부",
               "properties": {}
              },
              "firstdate": {
               "type": "string",
               "description": "정기운항 시작일",
               "properties": {}
              },
              "flightid": {
               "type": "string",
               "description": "편명",
               "properties": {}
              },
              "friday": {
               "type": "string",
               "description": "금요일 취항여부",
               "properties": {}
              },
              "lastdate": {
               "type": "string",
               "description": "정기운항 종료일",
               "properties": {}
              },
              "masterflightid": {
               "type": "string",
               "description": "마스터편명",
               "properties": {}
              },
              "monday": {
               "type": "string",
               "description": "월요일 취항여부",
               "properties": {}
              },
              "saturday": {
               "type": "string",
               "description": "토요일 취항여부",
               "properties": {}
              },
              "season": {
               "type": "string",
               "description": "시즌명",
               "properties": {}
              },
              "st": {
               "type": "string",
               "description": "정기운항 시작 시간",
               "properties": {}
              },
              "sunday": {
               "type": "string",
               "description": "일요일 취항여부",
               "properties": {}
              },
              "thursday": {
               "type": "string",
               "description": "목요일 취항여부",
               "properties": {}
              },
              "tuesday": {
               "type": "string",
               "description": "화요일 취항여부",
               "properties": {}
              },
              "wednesday": {
               "type": "string",
               "description": "수요일 취항여부",
               "properties": {}
              }
             }
            }
           }
          },
          "numOfRows": {
           "type": "string",
           "description": "데이터 행",
           "properties": {}
          },
          "pageNo": {
           "type": "string",
           "description": "데이터 표출 페이지",
           "properties": {}
          },
          "totalCount": {
           "type": "string",
           "description": "데이터 항목 수",
           "properties": {}
          }
         }
        }
       },
       "xml": {
        "name": "response"
       }
      }
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "화물편 정기운항편 상세 일정 -도착",
    "description": "공항코드값을 검색 조건으로 하여 인천공항 도착 여객기의 항공사 이름,공항이름, 공항코드,정기운항편 일정 시작일,종료일,편명,요일정보,시즌코드값,코드세웨어구분,마스터편명 등의 정보를 다국어(국문,영문,일문,중문)로 나타내는 여객기 정기운항편 일정정보 서비스를 제공",
    "operationId": "getCgoFltSchedArrivalsDeOdp",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "lang",
     "description": "언어 구분값(K: 국문E: 영문C: 중문J: 일문) default=xml",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "airport",
     "description": "인천공항에 도착하는 편명의 출발지공항(IATA) 코드",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "type",
     "description": "응답유형 [xml, json] default=xml",
     "type": "string",
     "required": false,
     "in": "query"
    }
   ]
  },
  "/getCgoFltSchedDeparturesDeOdp": {
   "get": {
    "responses": {
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "type": "object",
         "description": "header",
         "properties": {
          "resultCode": {
           "type": "string",
           "description": "결과코드",
           "properties": {}
          },
          "resultMsg": {
           "type": "string",
           "description": "결과메세지",
           "properties": {}
          }
         }
        },
        "body": {
         "type": "object",
         "description": "body",
         "properties": {
          "items": {
           "type": "object",
           "description": "items",
           "properties": {
            "item": {
             "type": "object",
             "description": "item",
             "properties": {
              "airline": {
               "type": "string",
               "description": "항공사명",
               "properties": {}
              },
              "airport": {
               "type": "string",
               "description": "인천공항에서 출발하는 편명의 도착지공항명",
               "properties": {}
              },
              "airportCode": {
               "type": "string",
               "description": "인천공항에서 출발하는 편명의 도착지공항(IATA) 코드",
               "properties": {}
              },
              "codeshare": {
               "type": "string",
               "description": "코드쉐어 여부",
               "properties": {}
              },
              "firstdate": {
               "type": "string",
               "description": "정기운항 시작일",
               "properties": {}
              },
              "flightid": {
               "type": "string",
               "description": "편명",
               "properties": {}
              },
              "friday": {
               "type": "string",
               "description": "금요일 취항여부",
               "properties": {}
              },
              "lastdate": {
               "type": "string",
               "description": "정기운항 종료일",
               "properties": {}
              },
              "masterflightid": {
               "type": "string",
               "description": "마스터편명",
               "properties": {}
              },
              "monday": {
               "type": "string",
               "description": "월요일 취항여부",
               "properties": {}
              },
              "saturday": {
               "type": "string",
               "description": "토요일 취항여부",
               "properties": {}
              },
              "season": {
               "type": "string",
               "description": "시즌명",
               "properties": {}
              },
              "sunday": {
               "type": "string",
               "description": "일요일 취항여부",
               "properties": {}
              },
              "thursday": {
               "type": "string",
               "description": "목요일 취항여부",
               "properties": {}
              },
              "tuesday": {
               "type": "string",
               "description": "화요일 취항여부",
               "properties": {}
              },
              "wednesday": {
               "type": "string",
               "description": "수요일 취항여부",
               "properties": {}
              },
              "st": {
               "type": "string",
               "description": "정기운항 시작 시간",
               "properties": {}
              }
             }
            }
           }
          },
          "numOfRows": {
           "type": "string",
           "description": "데이터 행",
           "properties": {}
          },
          "pageNo": {
           "type": "string",
           "description": "데이터 표출 페이지",
           "properties": {}
          },
          "totalCount": {
           "type": "string",
           "description": "데이터 항목 수",
           "properties": {}
          }
         }
        }
       },
       "xml": {
        "name": "response"
       }
      }
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "화물편 정기운항편 상세 일정 -출발",
    "description": "공항코드값을 검색 조건으로 하여 인천공항 출발 화물기의 항공사 이름,공항이름, 공항코드,정기운항편 일정 시작일,종료일,편명,요일정보,시즌코드값 등의 정보를 다국어(국문,영문,일문,중문)로 나타내는 화물기 정기운항편 일정정보 서비스를 제공",
    "operationId": "getCgoFltSchedDeparturesDeOdp",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "lang",
     "description": "언어 구분값(K: 국문E: 영문C: 중문J: 일문) default=xml",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "airport",
     "description": "인천공항에서 출발하는 편명의 도착지공항(IATA) 코드",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "type",
     "description": "응답유형 [xml, json] default=xml",
     "type": "string",
     "required": false,
     "in": "query"
    }
   ]
  }
 },
 "definitions": {
  "getCgoFltSchedArrivalsDeOdp_response": {
   "type": "object",
   "properties": {
    "header": {
     "type": "object",
     "description": "header",
     "properties": {
      "resultCode": {
       "type": "string",
       "description": "결과코드"
      },
      "resultMsg": {
       "type": "string",
       "description": "결과메세지"
      }
     }
    },
    "body": {
     "type": "object",
     "description": "body",
     "properties": {
      "items": {
       "type": "object",
       "description": "items",
       "properties": {
        "item": {
         "type": "object",
         "description": "item",
         "properties": {
          "airline": {
           "type": "string",
           "description": "항공사명"
          },
          "airport": {
           "type": "string",
           "description": "인천공항에 도착하는 편명의 출발지공항명"
          },
          "airportCode": {
           "type": "string",
           "description": "인천공항에 도착하는 편명의 출발지공항(IATA) 코드"
          },
          "codeshare": {
           "type": "string",
           "description": "코드웨서 여부"
          },
          "firstdate": {
           "type": "string",
           "description": "정기운항 시작일"
          },
          "flightid": {
           "type": "string",
           "description": "편명"
          },
          "friday": {
           "type": "string",
           "description": "금요일 취항여부"
          },
          "lastdate": {
           "type": "string",
           "description": "정기운항 종료일"
          },
          "masterflightid": {
           "type": "string",
           "description": "마스터편명"
          },
          "monday": {
           "type": "string",
           "description": "월요일 취항여부"
          },
          "saturday": {
           "type": "string",
           "description": "토요일 취항여부"
          },
          "season": {
           "type": "string",
           "description": "시즌명"
          },
          "st": {
           "type": "string",
           "description": "정기운항 시작 시간"
          },
          "sunday": {
           "type": "string",
           "description": "일요일 취항여부"
          },
          "thursday": {
           "type": "string",
           "description": "목요일 취항여부"
          },
          "tuesday": {
           "type": "string",
           "description": "화요일 취항여부"
          },
          "wednesday": {
           "type": "string",
           "description": "수요일 취항여부"
          }
         }
        }
       }
      },
      "numOfRows": {
       "type": "string",
       "description": "데이터 행"
      },
      "pageNo": {
       "type": "string",
       "description": "데이터 표출 페이지"
      },
      "totalCount": {
       "type": "string",
       "description": "데이터 항목 수"
      }
     }
    }
   }
  },
  "getCgoFltSchedDeparturesDeOdp_response": {
   "type": "object",
   "properties": {
    "header": {
     "type": "object",
     "description": "header",
     "properties": {
      "resultCode": {
       "type": "string",
       "description": "결과코드"
      },
      "resultMsg": {
       "type": "string",
       "description": "결과메세지"
      }
     }
    },
    "body": {
     "type": "object",
     "description": "body",
     "properties": {
      "items": {
       "type": "object",
       "description": "items",
       "properties": {
        "item": {
         "type": "object",
         "description": "item",
         "properties": {
          "airline": {
           "type": "string",
           "description": "항공사명"
          },
          "airport": {
           "type": "string",
           "description": "인천공항에서 출발하는 편명의 도착지공항명"
          },
          "airportCode": {
           "type": "string",
           "description": "인천공항에서 출발하는 편명의 도착지공항(IATA) 코드"
          },
          "codeshare": {
           "type": "string",
           "description": "코드쉐어 여부"
          },
          "firstdate": {
           "type": "string",
           "description": "정기운항 시작일"
          },
          "flightid": {
           "type": "string",
           "description": "편명"
          },
          "friday": {
           "type": "string",
           "description": "금요일 취항여부"
          },
          "lastdate": {
           "type": "string",
           "description": "정기운항 종료일"
          },
          "masterflightid": {
           "type": "string",
           "description": "마스터편명"
          },
          "monday": {
           "type": "string",
           "description": "월요일 취항여부"
          },
          "saturday": {
           "type": "string",
           "description": "토요일 취항여부"
          },
          "season": {
           "type": "string",
           "description": "시즌명"
          },
          "sunday": {
           "type": "string",
           "description": "일요일 취항여부"
          },
          "thursday": {
           "type": "string",
           "description": "목요일 취항여부"
          },
          "tuesday": {
           "type": "string",
           "description": "화요일 취항여부"
          },
          "wednesday": {
           "type": "string",
           "description": "수요일 취항여부"
          },
          "st": {
           "type": "string",
           "description": "정기운항 시작 시간"
          }
         }
        }
       }
      },
      "numOfRows": {
       "type": "string",
       "description": "데이터 행"
      },
      "pageNo": {
       "type": "string",
       "description": "데이터 표출 페이지"
      },
      "totalCount": {
       "type": "string",
       "description": "데이터 항목 수"
      }
     }
    }
   }
  }
 },
 "swaggerOprtinVOs": [
  {
   "oprtinUrl": "https://odp.airport.kr/openapi/StatusOfCgoFltSched/getCgoFltSchedDeparturesDeOdp",
   "oprtinNm": "화물편 정기운항편 상세 일정 -출발",
   "oprtinDc": "공항코드값을 검색 조건으로 하여 인천공항 출발 화물기의 항공사 이름,공항이름, 공항코드,정기운항편 일정 시작일,종료일,편명,요일정보,시즌코드값 등의 정보를 다국어(국문,영문,일문,중문)로 나타내는 화물기 정기운항편 일정정보 서비스를 제공",
   "gwSvcNm": "getCgoFltSchedDeparturesDeOdp",
   "operationId": "getCgoFltSchedDeparturesDeOdp",
   "publicDataTyDetailCode": "PRDE02",
   "reqList": [
    {
     "paramtrNm": "serviceKey",
     "paramtrBassValue": "-",
     "paramtrDc": "공공데이터포털에서 받은 인증키",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "pageNo",
     "paramtrBassValue": "1",
     "paramtrDc": "페이지번호",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "numOfRows",
     "paramtrBassValue": "10",
     "paramtrDc": "한 페이지 결과 수",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "lang",
     "paramtrBassValue": "K",
     "paramtrDc": "언어 구분값(K: 국문E: 영문C: 중문J: 일문) default=xml",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "airport",
     "paramtrBassValue": "CTS",
     "paramtrDc": "인천공항에서 출발하는 편명의 도착지공항(IATA) 코드",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "type",
     "paramtrBassValue": "xml",
     "paramtrDc": "응답유형 [xml, json] default=xml",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    }
   ],
   "resList": [
    {
     "paramtrNm": "header",
     "paramtrDc": "header",
     "arrayYn": "N",
     "paramtrDefNm": "#/definitions/header-getCgoFltSchedDeparturesDeOdp",
     "subDefNm": "header-getCgoFltSchedDeparturesDeOdp",
     "paramtrTy": "object",
     "paramtrDivision": "필수",
     "ck": true,
     "subParam": [
      {
       "paramtrNm": "resultCode",
       "paramtrDc": "결과코드",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      },
      {
       "paramtrNm": "resultMsg",
       "paramtrDc": "결과메세지",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      }
     ]
    },
    {
     "paramtrNm": "body",
     "paramtrDc": "body",
     "arrayYn": "N",
     "paramtrDefNm": "#/definitions/body-getCgoFltSchedDeparturesDeOdp",
     "subDefNm": "body-getCgoFltSchedDeparturesDeOdp",
     "paramtrTy": "object",
     "paramtrDivision": "필수",
     "ck": true,
     "subParam": [
      {
       "paramtrNm": "items",
       "paramtrDc": "items",
       "arrayYn": "N",
       "paramtrDefNm": "#/definitions/items-getCgoFltSchedDeparturesDeOdp",
       "subDefNm": "items-getCgoFltSchedDeparturesDeOdp",
       "paramtrTy": "object",
       "paramtrDivision": "필수",
       "ck": true,
       "subParam": [
        {
         "paramtrNm": "item",
         "paramtrDc": "item",
         "arrayYn": "N",
         "paramtrDefNm": "#/definitions/item-getCgoFltSchedDeparturesDeOdp",
         "subDefNm": "item-getCgoFltSchedDeparturesDeOdp",
         "paramtrTy": "object",
         "paramtrDivision": "필수",
         "ck": true,
         "subParam": [
          {
           "paramtrNm": "airline",
           "paramtrDc": "항공사명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "airport",
           "paramtrDc": "인천공항에서 출발하는 편명의 도착지공항명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "airportCode",
           "paramtrDc": "인천공항에서 출발하는 편명의 도착지공항(IATA) 코드",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "codeshare",
           "paramtrDc": "코드쉐어 여부",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "firstdate",
           "paramtrDc": "정기운항 시작일",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "flightid",
           "paramtrDc": "편명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "friday",
           "paramtrDc": "금요일 취항여부",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "lastdate",
           "paramtrDc": "정기운항 종료일",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "masterflightid",
           "paramtrDc": "마스터편명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "monday",
           "paramtrDc": "월요일 취항여부",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "saturday",
           "paramtrDc": "토요일 취항여부",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "season",
           "paramtrDc": "시즌명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "sunday",
           "paramtrDc": "일요일 취항여부",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "thursday",
           "paramtrDc": "목요일 취항여부",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "tuesday",
           "paramtrDc": "화요일 취항여부",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "wednesday",
           "paramtrDc": "수요일 취항여부",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "st",
           "paramtrDc": "정기운항 시작 시간",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          }
         ]
        }
       ]
      },
      {
       "paramtrNm": "numOfRows",
       "paramtrDc": "데이터 행",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      },
      {
       "paramtrNm": "pageNo",
       "paramtrDc": "데이터 표출 페이지",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      },
      {
       "paramtrNm": "totalCount",
       "paramtrDc": "데이터 항목 수",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      }
     ]
    }
   ]
  }
 ]
}