{
 "swagger": "2.0",
 "info": {
  "description": "인천국제공항공사에서 관리하는 인천공항 항공기 운항정보입니다. \\n\\n여객기 및 항공기의 출발/도착 정보 현황에 대한 데이터로 조회일 기준 D-3~D+6일간의 운항현황 데이터를 확인할 수 있습니다. \\n\\n예정시간 또는 변경시간 기준으로 조회시간 구분코드를 지정하여 조회일자와 시간별로 조회할 수 있습니다.\\n\\n편명UNIQ코드, 편명, 3자리 IATA 공항코드, 여객기/화물기 구분코드 기준으로 조회조건을 제공합니다. \\n\\n편명UNIQ코드값, 항공기 운항타입, 항공사, 편명, 코드세웨어 구분, 마스터편명, 예정일시, 주기장위치, 변경일시, 출/도착 공항코드, 출/도착 공항명, 게이트번호, 체크인카운터, 터미널, 출구, 운항현황 정보,  항공기 서브 타입, 항공기 등록 기호 등을 제공합니다.\\n\\n\\n개발계정 일 500트래픽, 운영계정(서비스 URL 및 상세 운영사례 기재 필요) 신청 시 일 100,000트래픽을 제공합니다.",
  "version": "1.0.0",
  "title": "인천국제공항공사_항공기 운항 현황 상세 조회"
 },
 "host": "apis.data.go.kr/B551177/statusOfAllFltDeOdp",
 "basePath": "",
 "schemes": [
  "https",
  "http"
 ],
 "paths": {
  "/getFltArrivalsDeOdp": {
   "get": {
    "responses": {
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "type": "object",
         "description": "header",
         "properties": {
          "resultCode": {
           "type": "string",
           "description": "결과코드",
           "properties": {}
          },
          "resultMsg": {
           "type": "string",
           "description": "결과메세지",
           "properties": {}
          }
         }
        },
        "body": {
         "type": "object",
         "description": "body",
         "properties": {
          "items": {
           "type": "object",
           "description": "items",
           "properties": {
            "item": {
             "type": "object",
             "description": "item",
             "properties": {
              "tmp2": {
               "type": "string",
               "description": "기타",
               "properties": {}
              },
              "fid": {
               "type": "string",
               "description": "각 스케줄에 따른 편명 별 유니크 코드 값(랜덤생성)",
               "properties": {}
              },
              "codeshare": {
               "type": "string",
               "description": "코드쉐어 여부 Master/ Slave",
               "properties": {}
              },
              "masterFlightId": {
               "type": "string",
               "description": "마스터편명",
               "properties": {}
              },
              "flightId": {
               "type": "string",
               "description": "항공편명",
               "properties": {}
              },
              "airline": {
               "type": "string",
               "description": "항공사 국문명",
               "properties": {}
              },
              "airport": {
               "type": "string",
               "description": "인천공항에 도착하는 편명의 출발지 공항 한글명",
               "properties": {}
              },
              "airportCode": {
               "type": "string",
               "description": "인천공항에 도착하는 출발지 공항 코드 (IATA 공식 홈페이지 참조)",
               "properties": {}
              },
              "passengerOrCargo": {
               "type": "string",
               "description": "여객기/화물기구분 Passenger : 여객기 Cargo : 화물기 default=Passenger",
               "properties": {}
              },
              "scheduleDatetime": {
               "type": "string",
               "description": "출발예정일시YYYYMMDDHH24MM",
               "properties": {}
              },
              "estimatedDatetime": {
               "type": "string",
               "description": "출발변경일시 YYYYMMDDHH24MM",
               "properties": {}
              },
              "carousel": {
               "type": "string",
               "description": "수하물 수취대 번호",
               "properties": {}
              },
              "exitNumber": {
               "type": "string",
               "description": "출구 번호",
               "properties": {}
              },
              "fstandPosition": {
               "type": "string",
               "description": "주기장위치",
               "properties": {}
              },
              "gateNumber": {
               "type": "string",
               "description": "도착게이트",
               "properties": {}
              },
              "terminalId": {
               "type": "string",
               "description": "도착터미널 P01: 제 1터미널 P02: 탑승동 P03: 제 2터미널 C01:화물터미널 남측 C02:화물터미널 북측 C03:화물터미널(3단계)",
               "properties": {}
              },
              "remark": {
               "type": "string",
               "description": "운항상태 (도착,결항,지연,회항,착륙)",
               "properties": {}
              },
              "typeOfFlight": {
               "type": "string",
               "description": "항공기 운항 타입(I=International, D=Domestic)",
               "properties": {}
              },
              "aircraftSubtype": {
               "type": "string",
               "description": "항공기 서브 타입 (IATA code)",
               "properties": {}
              },
              "aircraftRegNo": {
               "type": "string",
               "description": "항공기 등록 기호 및 Tail No",
               "properties": {}
              },
              "tmp1": {
               "type": "string",
               "description": "기타",
               "properties": {}
              }
             }
            }
           }
          },
          "pageNo": {
           "type": "string",
           "description": "데이터 표출 페이지",
           "properties": {}
          },
          "numOfRows": {
           "type": "string",
           "description": "데이터 행",
           "properties": {}
          },
          "totalCount": {
           "type": "string",
           "description": "데이터 항목 수",
           "properties": {}
          }
         }
        }
       },
       "xml": {
        "name": "response"
       }
      }
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "항공기 운항편 조회 – 도착",
    "description": "인천공항 항공기 출발/도착 정보 현황에 대한 데이터로 조회일 기준 -3일과 +6일간의 편명UNIQ코드값,항공기 운항타입,항공사,편명,코드세웨어구분,마스터편명,예정일시,주기장위치,변경일시,출/도착공항코드,출/도착공항명,게이트번호,체크인카운터,터미널,출구,수하물수취대,현황 정보, 항공기 서브 타입, 항공기 등록 기호 등을 제공한다.",
    "operationId": "getFltArrivalsDeOdp",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "searchdtCode",
     "description": "항공기 스케줄 조회기준 S: 예정시간기준,  E: 변경시간기준 default=E",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "searchDate",
     "description": "항공기 스케줄 조회일자 default=sysdate",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "searchFrom",
     "description": "항공기 스케줄  ~시부터",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "searchTo",
     "description": "항공기 스케줄  ~시까지",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "passengerOrCargo",
     "description": "여객기/화물기구분 P : 여객기 C : 화물기 default=P",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "fid",
     "description": "각 스케줄에 따른 편명 별 유니크 코드 값(랜덤생성)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "flightId",
     "description": "항공편명",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "airportCode",
     "description": "인천공항에 도착하는 출발지 공항 코드 (IATA 공식 홈페이지 참조)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "tmp1",
     "description": "추가현황1",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "tmp2",
     "description": "추가현황2",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "type",
     "description": "응답유형 [xml, json] default=xml",
     "type": "string",
     "required": false,
     "in": "query"
    }
   ]
  },
  "/getFltDeparturesDeOdp": {
   "get": {
    "responses": {
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "type": "object",
         "description": "header",
         "properties": {
          "resultCode": {
           "type": "string",
           "description": "결과코드",
           "properties": {}
          },
          "resultMsg": {
           "type": "string",
           "description": "결과메세지",
           "properties": {}
          }
         }
        },
        "body": {
         "type": "object",
         "description": "body",
         "properties": {
          "items": {
           "type": "object",
           "description": "items",
           "properties": {
            "item": {
             "type": "object",
             "description": "item",
             "properties": {
              "tmp2": {
               "type": "string",
               "description": "기타",
               "properties": {}
              },
              "fid": {
               "type": "string",
               "description": "각 스케줄에 따른 편명 별 유니크 코드 값(랜덤생성)",
               "properties": {}
              },
              "codeshare": {
               "type": "string",
               "description": "코드쉐어 여부 Master/ Slave",
               "properties": {}
              },
              "masterFlightId": {
               "type": "string",
               "description": "마스터편명",
               "properties": {}
              },
              "flightId": {
               "type": "string",
               "description": "항공편명",
               "properties": {}
              },
              "airline": {
               "type": "string",
               "description": "항공사 국문명",
               "properties": {}
              },
              "airport": {
               "type": "string",
               "description": "인천공항에서 출발하는 편명의 도착지 공항 한글명",
               "properties": {}
              },
              "airportCode": {
               "type": "string",
               "description": "인천공항에서 출발하는 도착지 공항 코드 (IATA 공식 홈페이지 참조)",
               "properties": {}
              },
              "passengerOrCargo": {
               "type": "string",
               "description": "여객기/화물기구분 Passenger : 여객기 Cargo : 화물기 default=Passenger",
               "properties": {}
              },
              "scheduleDatetime": {
               "type": "string",
               "description": "출발예정일시YYYYMMDDHH24MM",
               "properties": {}
              },
              "estimatedDatetime": {
               "type": "string",
               "description": "출발변경일시 YYYYMMDDHH24MM",
               "properties": {}
              },
              "chkinRange": {
               "type": "string",
               "description": "체크인카운터",
               "properties": {}
              },
              "fstandPosition": {
               "type": "string",
               "description": "주기장위치",
               "properties": {}
              },
              "gateNumber": {
               "type": "string",
               "description": "탑승구 번호",
               "properties": {}
              },
              "terminalId": {
               "type": "string",
               "description": "출발터미널 P01: 제 1터미널 P02: 탑승동 P03: 제 2터미널 C01:화물터미널 남측 C02:화물터미널 북측 C03:화물터미널(3단계)",
               "properties": {}
              },
              "remark": {
               "type": "string",
               "description": "운항상태 (도착,결항,지연,회항,착륙)",
               "properties": {}
              },
              "typeOfFlight": {
               "type": "string",
               "description": "항공기 운항 타입(I=International, D=Domestic)",
               "properties": {}
              },
              "aircraftSubtype": {
               "type": "string",
               "description": "항공기 서브 타입 (IATA code)",
               "properties": {}
              },
              "aircraftRegNo": {
               "type": "string",
               "description": "항공기 등록 기호 및 Tail No",
               "properties": {}
              },
              "tmp1": {
               "type": "string",
               "description": "기타",
               "properties": {}
              }
             }
            }
           }
          },
          "pageNo": {
           "type": "string",
           "description": "데이터 표출 페이지",
           "properties": {}
          },
          "numOfRows": {
           "type": "string",
           "description": "데이터 행",
           "properties": {}
          },
          "totalCount": {
           "type": "string",
           "description": "데이터 항목 수",
           "properties": {}
          }
         }
        }
       },
       "xml": {
        "name": "response"
       }
      }
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "항공기 운항편 조회 – 출발",
    "description": "인천공항 항공기 출발/도착 정보 현황에 대한 데이터로 조회일 기준 -3일과 +6일간의 편명UNIQ코드값,항공기 운항타입,항공사,편명,코드세웨어구분,마스터편명,예정일시,주기장위치,변경일시,출/도착공항코드,출/도착공항명,게이트번호,체크인카운터,터미널,출구,수하물수취대,현황 정보, 항공기 서브 타입, 항공기 등록 기호 등을 제공한다.",
    "operationId": "getFltDeparturesDeOdp",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "searchdtCode",
     "description": "항공기 스케줄 조회기준 S: 예정시간기준,  E: 변경시간기준 default=E",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "searchDate",
     "description": "항공기 스케줄 조회일자 default=sysdate",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "searchFrom",
     "description": "항공기 스케줄  ~시부터",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "searchTo",
     "description": "항공기 스케줄  ~시까지",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "fid",
     "description": "각 스케줄에 따른 편명 별 유니크 코드 값(랜덤생성)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "flightId",
     "description": "항공편명",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "passengerOrCargo",
     "description": "여객기/화물기구분  P : 여객기 C : 화물기 default=P",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "airportCode",
     "description": "인천공항에서 출발하는 도착지 공항 코드 (IATA 공식 홈페이지 참조)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "tmp1",
     "description": "추가현황1",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "tmp2",
     "description": "추가현황1",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "type",
     "description": "응답유형 [xml, json] default=xml",
     "type": "string",
     "required": false,
     "in": "query"
    }
   ]
  }
 },
 "definitions": {
  "getFltDeparturesDeOdp_response": {
   "type": "object",
   "properties": {
    "header": {
     "type": "object",
     "description": "header",
     "properties": {
      "resultCode": {
       "type": "string",
       "description": "결과코드"
      },
      "resultMsg": {
       "type": "string",
       "description": "결과메세지"
      }
     }
    },
    "body": {
     "type": "object",
     "description": "body",
     "properties": {
      "items": {
       "type": "object",
       "description": "items",
       "properties": {
        "item": {
         "type": "object",
         "description": "item",
         "properties": {
          "tmp2": {
           "type": "string",
           "description": "기타"
          },
          "fid": {
           "type": "string",
           "description": "각 스케줄에 따른 편명 별 유니크 코드 값(랜덤생성)"
          },
          "codeshare": {
           "type": "string",
           "description": "코드쉐어 여부 Master/ Slave"
          },
          "masterFlightId": {
           "type": "string",
           "description": "마스터편명"
          },
          "flightId": {
           "type": "string",
           "description": "항공편명"
          },
          "airline": {
           "type": "string",
           "description": "항공사 국문명"
          },
          "airport": {
           "type": "string",
           "description": "인천공항에서 출발하는 편명의 도착지 공항 한글명"
          },
          "airportCode": {
           "type": "string",
           "description": "인천공항에서 출발하는 도착지 공항 코드 (IATA 공식 홈페이지 참조)"
          },
          "passengerOrCargo": {
           "type": "string",
           "description": "여객기/화물기구분 Passenger : 여객기 Cargo : 화물기 default=Passenger"
          },
          "scheduleDatetime": {
           "type": "string",
           "description": "출발예정일시YYYYMMDDHH24MM"
          },
          "estimatedDatetime": {
           "type": "string",
           "description": "출발변경일시 YYYYMMDDHH24MM"
          },
          "chkinRange": {
           "type": "string",
           "description": "체크인카운터"
          },
          "fstandPosition": {
           "type": "string",
           "description": "주기장위치"
          },
          "gateNumber": {
           "type": "string",
           "description": "탑승구 번호"
          },
          "terminalId": {
           "type": "string",
           "description": "출발터미널 P01: 제 1터미널 P02: 탑승동 P03: 제 2터미널 C01:화물터미널 남측 C02:화물터미널 북측 C03:화물터미널(3단계)"
          },
          "remark": {
           "type": "string",
           "description": "운항상태 (도착,결항,지연,회항,착륙)"
          },
          "typeOfFlight": {
           "type": "string",
           "description": "항공기 운항 타입(I=International, D=Domestic)"
          },
          "aircraftSubtype": {
           "type": "string",
           "description": "항공기 서브 타입 (IATA code)"
          },
          "aircraftRegNo": {
           "type": "string",
           "description": "항공기 등록 기호 및 Tail No"
          },
          "tmp1": {
           "type": "string",
           "description": "기타"
          }
         }
        }
       }
      },
      "pageNo": {
       "type": "string",
       "description": "데이터 표출 페이지"
      },
      "numOfRows": {
       "type": "string",
       "description": "데이터 행"
      },
      "totalCount": {
       "type": "string",
       "description": "데이터 항목 수"
      }
     }
    }
   }
  },
  "getFltArrivalsDeOdp_response": {
   "type": "object",
   "properties": {
    "header": {
     "type": "object",
     "description": "header",
     "properties": {
      "resultCode": {
       "type": "string",
       "description": "결과코드"
      },
      "resultMsg": {
       "type": "string",
       "description": "결과메세지"
      }
     }
    },
    "body": {
     "type": "object",
     "description": "body",
     "properties": {
      "items": {
       "type": "object",
       "description": "items",
       "properties": {
        "item": {
         "type": "object",
         "description": "item",
         "properties": {
          "tmp2": {
           "type": "string",
           "description": "기타"
          },
          "fid": {
           "type": "string",
           "description": "각 스케줄에 따른 편명 별 유니크 코드 값(랜덤생성)"
          },
          "codeshare": {
           "type": "string",
           "description": "코드쉐어 여부 Master/ Slave"
          },
          "masterFlightId": {
           "type": "string",
           "description": "마스터편명"
          },
          "flightId": {
           "type": "string",
           "description": "항공편명"
          },
          "airline": {
           "type": "string",
           "description": "항공사 국문명"
          },
          "airport": {
           "type": "string",
           "description": "인천공항에 도착하는 편명의 출발지 공항 한글명"
          },
          "airportCode": {
           "type": "string",
           "description": "인천공항에 도착하는 출발지 공항 코드 (IATA 공식 홈페이지 참조)"
          },
          "passengerOrCargo": {
           "type": "string",
           "description": "여객기/화물기구분 Passenger : 여객기 Cargo : 화물기 default=Passenger"
          },
          "scheduleDatetime": {
           "type": "string",
           "description": "출발예정일시YYYYMMDDHH24MM"
          },
          "estimatedDatetime": {
           "type": "string",
           "description": "출발변경일시 YYYYMMDDHH24MM"
          },
          "carousel": {
           "type": "string",
           "description": "수하물 수취대 번호"
          },
          "exitNumber": {
           "type": "string",
           "description": "출구 번호"
          },
          "fstandPosition": {
           "type": "string",
           "description": "주기장위치"
          },
          "gateNumber": {
           "type": "string",
           "description": "도착게이트"
          },
          "terminalId": {
           "type": "string",
           "description": "도착터미널 P01: 제 1터미널 P02: 탑승동 P03: 제 2터미널 C01:화물터미널 남측 C02:화물터미널 북측 C03:화물터미널(3단계)"
          },
          "remark": {
           "type": "string",
           "description": "운항상태 (도착,결항,지연,회항,착륙)"
          },
          "typeOfFlight": {
           "type": "string",
           "description": "항공기 운항 타입(I=International, D=Domestic)"
          },
          "aircraftSubtype": {
           "type": "string",
           "description": "항공기 서브 타입 (IATA code)"
          },
          "aircraftRegNo": {
           "type": "string",
           "description": "항공기 등록 기호 및 Tail No"
          },
          "tmp1": {
           "type": "string",
           "description": "기타"
          }
         }
        }
       }
      },
      "pageNo": {
       "type": "string",
       "description": "데이터 표출 페이지"
      },
      "numOfRows": {
       "type": "string",
       "description": "데이터 행"
      },
      "totalCount": {
       "type": "string",
       "description": "데이터 항목 수"
      }
     }
    }
   }
  }
 },
 "swaggerOprtinVOs": [
  {
   "oprtinUrl": "https://odp.airport.kr/openapi/statusOfAllFltDeOdp/getFltDeparturesDeOdp",
   "oprtinNm": "항공기 운항편 조회 – 출발",
   "oprtinDc": "인천공항 항공기 출발/도착 정보 현황에 대한 데이터로 조회일 기준 -3일과 +6일간의 편명UNIQ코드값,항공기 운항타입,항공사,편명,코드세웨어구분,마스터편명,예정일시,주기장위치,변경일시,출/도착공항코드,출/도착공항명,게이트번호,체크인카운터,터미널,출구,수하물수취대,현황 정보, 항공기 서브 타입, 항공기 등록 기호 등을 제공한다.",
   "gwSvcNm": "getFltDeparturesDeOdp",
   "operationId": "getFltDeparturesDeOdp",
   "publicDataTyDetailCode": "PRDE02",
   "reqList": [
    {
     "paramtrNm": "serviceKey",
     "paramtrBassValue": "-",
     "paramtrDc": "공공데이터포털에서 받은 인증키",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "pageNo",
     "paramtrBassValue": "1",
     "paramtrDc": "페이지번호",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "numOfRows",
     "paramtrBassValue": "10",
     "paramtrDc": "한 페이지 결과 수",
     "paramtrTy": "string",
     "paramtrDivision": "필수",
     "ck": true
    },
    {
     "paramtrNm": "searchdtCode",
     "paramtrBassValue": "E",
     "paramtrDc": "항공기 스케줄 조회기준 S: 예정시간기준,  E: 변경시간기준 default=E",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "searchDate",
     "paramtrBassValue": "20241222",
     "paramtrDc": "항공기 스케줄 조회일자 default=sysdate",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "searchFrom",
     "paramtrBassValue": "0000",
     "paramtrDc": "항공기 스케줄  ~시부터",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "searchTo",
     "paramtrBassValue": "2400",
     "paramtrDc": "항공기 스케줄  ~시까지",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "fid",
     "paramtrBassValue": "2024121600000006269075",
     "paramtrDc": "각 스케줄에 따른 편명 별 유니크 코드 값(랜덤생성)",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "flightId",
     "paramtrBassValue": "5Y8232",
     "paramtrDc": "항공편명",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "passengerOrCargo",
     "paramtrBassValue": "C",
     "paramtrDc": "여객기/화물기구분  P : 여객기 C : 화물기 default=P",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "airportCode",
     "paramtrBassValue": "ORD",
     "paramtrDc": "인천공항에서 출발하는 도착지 공항 코드 (IATA 공식 홈페이지 참조)",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "tmp1",
     "paramtrBassValue": "-",
     "paramtrDc": "추가현황1",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "tmp2",
     "paramtrBassValue": "-",
     "paramtrDc": "추가현황1",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    },
    {
     "paramtrNm": "type",
     "paramtrBassValue": "xml",
     "paramtrDc": "응답유형 [xml, json] default=xml",
     "paramtrTy": "string",
     "paramtrDivision": "옵션",
     "ck": true
    }
   ],
   "resList": [
    {
     "paramtrNm": "header",
     "paramtrDc": "header",
     "arrayYn": "N",
     "paramtrDefNm": "#/definitions/header-getFltDeparturesDeOdp",
     "subDefNm": "header-getFltDeparturesDeOdp",
     "paramtrTy": "object",
     "paramtrDivision": "필수",
     "ck": true,
     "subParam": [
      {
       "paramtrNm": "resultCode",
       "paramtrDc": "결과코드",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      },
      {
       "paramtrNm": "resultMsg",
       "paramtrDc": "결과메세지",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      }
     ]
    },
    {
     "paramtrNm": "body",
     "paramtrDc": "body",
     "arrayYn": "N",
     "paramtrDefNm": "#/definitions/body-getFltDeparturesDeOdp",
     "subDefNm": "body-getFltDeparturesDeOdp",
     "paramtrTy": "object",
     "paramtrDivision": "필수",
     "ck": true,
     "subParam": [
      {
       "paramtrNm": "items",
       "paramtrDc": "items",
       "arrayYn": "N",
       "paramtrDefNm": "#/definitions/items-getFltDeparturesDeOdp",
       "subDefNm": "items-getFltDeparturesDeOdp",
       "paramtrTy": "object",
       "paramtrDivision": "필수",
       "ck": true,
       "subParam": [
        {
         "paramtrNm": "item",
         "paramtrDc": "item",
         "arrayYn": "N",
         "paramtrDefNm": "#/definitions/item-getFltDeparturesDeOdp",
         "subDefNm": "item-getFltDeparturesDeOdp",
         "paramtrTy": "object",
         "paramtrDivision": "필수",
         "ck": true,
         "subParam": [
          {
           "paramtrNm": "tmp2",
           "paramtrDc": "기타",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "fid",
           "paramtrDc": "각 스케줄에 따른 편명 별 유니크 코드 값(랜덤생성)",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "codeshare",
           "paramtrDc": "코드쉐어 여부 Master/ Slave",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "masterFlightId",
           "paramtrDc": "마스터편명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "flightId",
           "paramtrDc": "항공편명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "airline",
           "paramtrDc": "항공사 국문명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "airport",
           "paramtrDc": "인천공항에서 출발하는 편명의 도착지 공항 한글명",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "airportCode",
           "paramtrDc": "인천공항에서 출발하는 도착지 공항 코드 (IATA 공식 홈페이지 참조)",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "passengerOrCargo",
           "paramtrDc": "여객기/화물기구분 Passenger : 여객기 Cargo : 화물기 default=Passenger",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "scheduleDatetime",
           "paramtrDc": "출발예정일시YYYYMMDDHH24MM",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "estimatedDatetime",
           "paramtrDc": "출발변경일시 YYYYMMDDHH24MM",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "chkinRange",
           "paramtrDc": "체크인카운터",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "fstandPosition",
           "paramtrDc": "주기장위치",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "gateNumber",
           "paramtrDc": "탑승구 번호",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "terminalId",
           "paramtrDc": "출발터미널 P01: 제 1터미널 P02: 탑승동 P03: 제 2터미널 C01:화물터미널 남측 C02:화물터미널 북측 C03:화물터미널(3단계)",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "remark",
           "paramtrDc": "운항상태 (도착,결항,지연,회항,착륙)",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "typeOfFlight",
           "paramtrDc": "항공기 운항 타입(I=International, D=Domestic)",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "aircraftSubtype",
           "paramtrDc": "항공기 서브 타입 (IATA code)",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "aircraftRegNo",
           "paramtrDc": "항공기 등록 기호 및 Tail No",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          },
          {
           "paramtrNm": "tmp1",
           "paramtrDc": "기타",
           "arrayYn": "N",
           "paramtrDefNm": "",
           "paramtrTy": "string",
           "paramtrDivision": "옵션",
           "ck": true
          }
         ]
        }
       ]
      },
      {
       "paramtrNm": "pageNo",
       "paramtrDc": "데이터 표출 페이지",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      },
      {
       "paramtrNm": "numOfRows",
       "paramtrDc": "데이터 행",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      },
      {
       "paramtrNm": "totalCount",
       "paramtrDc": "데이터 항목 수",
       "arrayYn": "N",
       "paramtrDefNm": "",
       "paramtrTy": "string",
       "paramtrDivision": "필수",
       "ck": true
      }
     ]
    }
   ]
  }
 ]
}