{
 "swagger": "2.0",
 "info": {
  "description": "한국공항공사는 인천국제공항을 제외한 김포, 김해, 제주, 대구 등 전국 14개 공항을 통합 관리하고 운영하는 대한민국의 대표적인 공공기관입니다. 본 API는 한국공항공사가 관할하는 운영하고 있는 공항의 실시간 운항 스케줄 정보를 제공합니다. \\n\\n기존 제공하던 면세점용 여객기 국제선 항공기 스케줄조회, 면세점용 여객기 국내선 항공기 스케줄조회, 항공기 운항정보 내 국제선 국내선 운항 스케줄을 포함하였습니다. \\n\\n제공되는 주요 데이터 항목으로는 출도착 공항, 항공기 운항 편명, 요일별 취항여부, 출도착 시간  이 상세히 포함되어 있습니다. 이를 통해 공항 실시간 항공기 운항 스케줄 정보 제공 서비스 등 다양한 목적의 데이터 활용이 가능합니다. \\n\\n제공되는 데이터에 대한 추가적인 요구사항이 있으시거나, 기능 개선 및 데이터 오류 등에 대한 의견이 있으신 분은 한국공항공사 담당 부서(02-2660-4803)로 연락해 주시면 친절하게 안내해 드리겠습니다.",
  "version": "1.0.0",
  "title": "한국공항공사_항공기 운항 스케줄 정보_GW"
 },
 "host": "apis.data.go.kr/B551178/flight-schedule",
 "basePath": "",
 "schemes": [
  "https",
  "http"
 ],
 "paths": {
  "/taxfree-int": {
   "get": {
    "responses": {
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "type": "object",
         "description": "header",
         "properties": {
          "resultCode": {
           "type": "string",
           "description": "결과코드",
           "properties": {}
          },
          "resultMsg": {
           "type": "string",
           "description": "결과메시지",
           "properties": {}
          }
         }
        },
        "body": {
         "type": "object",
         "description": "body",
         "properties": {
          "totalCount": {
           "type": "string",
           "description": "전체 결과 수",
           "properties": {}
          },
          "pageNo": {
           "type": "string",
           "description": "페이지번호",
           "properties": {}
          },
          "numOfRows": {
           "type": "string",
           "description": "한 페이지 결과 수",
           "properties": {}
          },
          "items": {
           "type": "object",
           "description": "items",
           "properties": {
            "item": {
             "type": "object",
             "description": "item",
             "properties": {
              "arrvcity": {
               "type": "string",
               "description": "도착공항(도시)",
               "properties": {}
              },
              "fid": {
               "type": "string",
               "description": "편명UNIQ코드값",
               "properties": {}
              },
              "fgentime": {
               "type": "string",
               "description": "데이터 생성시간(Year-Month-Day-Hour-Minute-Second)",
               "properties": {}
              },
              "flightid": {
               "type": "string",
               "description": "항공편명",
               "properties": {}
              },
              "st": {
               "type": "string",
               "description": "출발시간",
               "properties": {}
              },
              "firstdate": {
               "type": "string",
               "description": "정기운항 시작일",
               "properties": {}
              },
              "lastdate": {
               "type": "string",
               "description": "정기운항 종료일",
               "properties": {}
              },
              "ynmon": {
               "type": "string",
               "description": "월요일 취항여부(취항:Y, 미취항: N)",
               "properties": {}
              },
              "yntue": {
               "type": "string",
               "description": "화요일 취항여부(취항:Y, 미취항: N)",
               "properties": {}
              },
              "ynwed": {
               "type": "string",
               "description": "수요일 취항여부(취항:Y, 미취항: N)",
               "properties": {}
              },
              "ynthu": {
               "type": "string",
               "description": "목요일 취항여부(취항:Y, 미취항: N)",
               "properties": {}
              },
              "ynfri": {
               "type": "string",
               "description": "금요일 취항여부(취항:Y, 미취항: N)",
               "properties": {}
              },
              "ynsat": {
               "type": "string",
               "description": "토요일 취항여부(취항:Y, 미취항: N)",
               "properties": {}
              },
              "ynsun": {
               "type": "string",
               "description": "일요일 취항여부(취항:Y, 미취항: N)",
               "properties": {}
              },
              "airline": {
               "type": "string",
               "description": "항공사 국문명",
               "properties": {}
              },
              "airlinecode": {
               "type": "string",
               "description": "항공사코드(IATA)",
               "properties": {}
              },
              "depcitycode": {
               "type": "string",
               "description": "출발공항 코드값",
               "properties": {}
              },
              "depcity": {
               "type": "string",
               "description": "출발공항(도시)",
               "properties": {}
              },
              "arrvcitycode": {
               "type": "string",
               "description": "도착공항 코드값",
               "properties": {}
              },
              "fgenType": {
               "type": "string",
               "description": "I(Insert): 신규, U(Update): 변경, D(Delete): 삭제",
               "properties": {}
              }
             }
            }
           }
          }
         }
        }
       },
       "xml": {
        "name": "response"
       }
      }
     },
     "": {
      "description": ""
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "면세점용 여객기 국제선 운항 항공기 스케줄 정보 조회",
    "description": "면세품 구매시 항공기 탑승권과 실제 운항정보 조회를 하기위해서 한국공항공사에서 운영하는 14개 공항의 국제선 운항 항공기의 스케줄 정보를 제공합니다.",
    "operationId": "taxfree-int",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "fid",
     "description": "편명UNIQ코드값 (샘플:2023031400000004911979)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "flightId",
     "description": "항공기 편명 (샘플:OZ6868)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "depCityCode",
     "description": "출발공항 코드값(ex 김포=GMP, 제주=CJU 등)  (샘플:CJU)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "depCity",
     "description": "출발공항(도시) (샘플:제주)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "arrvCityCode",
     "description": "도착공항 코드값 (샘플:KIX)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "arrvCity",
     "description": "도착공항(도시) (샘플:오사카/간사이)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schAirLine",
     "description": "항공사 코드값 (샘플:OZ)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "fgenType",
     "description": "I(Insert): 신규, U(Update): 변경, D(Delete): 삭제 (샘플:I)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "fgenTime",
     "description": "데이터 생성시간(Year-Month-Day-Hour-Minute-Second) 요청값 이후의 값으로 데이터 호출) (샘플:2011025091410)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "type",
     "description": "응답 형식(JSON & XML), 기본값 : XML (샘플:xml)",
     "type": "string",
     "required": false,
     "in": "query"
    }
   ]
  },
  "/taxfree-dom": {
   "get": {
    "responses": {
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "type": "object",
         "description": "header",
         "properties": {
          "resultCode": {
           "type": "string",
           "description": "결과코드",
           "properties": {}
          },
          "resultMsg": {
           "type": "string",
           "description": "결과메시지",
           "properties": {}
          }
         }
        },
        "body": {
         "type": "object",
         "description": "body",
         "properties": {
          "totalCount": {
           "type": "string",
           "description": "전체 결과 수",
           "properties": {}
          },
          "pageNo": {
           "type": "string",
           "description": "페이지번호",
           "properties": {}
          },
          "numOfRows": {
           "type": "string",
           "description": "한 페이지 결과 수",
           "properties": {}
          },
          "items": {
           "type": "object",
           "description": "items",
           "properties": {
            "item": {
             "type": "object",
             "description": "item",
             "properties": {
              "arrvcity": {
               "type": "string",
               "description": "도착공항(도시)",
               "properties": {}
              },
              "fid": {
               "type": "string",
               "description": "편명UNIQ코드값",
               "properties": {}
              },
              "fgentime": {
               "type": "string",
               "description": "데이터 생성시간(Year-Month-Day-Hour-Minute-Second)",
               "properties": {}
              },
              "flightid": {
               "type": "string",
               "description": "항공편명",
               "properties": {}
              },
              "st": {
               "type": "string",
               "description": "출발시간",
               "properties": {}
              },
              "firstdate": {
               "type": "string",
               "description": "정기운항 시작일",
               "properties": {}
              },
              "lastdate": {
               "type": "string",
               "description": "정기운항 종료일",
               "properties": {}
              },
              "ynmon": {
               "type": "string",
               "description": "월요일 취항여부(Y:취항, N:미취항)",
               "properties": {}
              },
              "yntue": {
               "type": "string",
               "description": "화요일 취항여부(Y:취항, N:미취항)",
               "properties": {}
              },
              "ynwed": {
               "type": "string",
               "description": "수요일 취항여부(Y:취항, N:미취항)",
               "properties": {}
              },
              "ynthu": {
               "type": "string",
               "description": "목요일 취항여부(Y:취항, N:미취항)",
               "properties": {}
              },
              "ynfri": {
               "type": "string",
               "description": "금요일 취항여부(Y:취항, N:미취항)",
               "properties": {}
              },
              "ynsat": {
               "type": "string",
               "description": "토요일 취항여부(Y:취항, N:미취항)",
               "properties": {}
              },
              "ynsun": {
               "type": "string",
               "description": "일요일 취항여부(Y:취항, N:미취항)",
               "properties": {}
              },
              "airline": {
               "type": "string",
               "description": "항공사 국문명",
               "properties": {}
              },
              "airlineCode": {
               "type": "string",
               "description": "항공사코드(IATA)",
               "properties": {}
              },
              "depcitycode": {
               "type": "string",
               "description": "출발공항 코드값",
               "properties": {}
              },
              "depcity": {
               "type": "string",
               "description": "출발공항(도시)",
               "properties": {}
              },
              "arrvcitycode": {
               "type": "string",
               "description": "도착공항 코드값",
               "properties": {}
              },
              "fgenType": {
               "type": "string",
               "description": "I(Insert): 신규, U(Update): 변경, D(Delete): 삭제",
               "properties": {}
              }
             }
            }
           }
          }
         }
        }
       },
       "xml": {
        "name": "response"
       }
      }
     },
     "": {
      "description": ""
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "국내선 항공기 스케줄 조회(면세점용)",
    "description": "항공기 탑승권 확인을 위하여 한국공항공사에서 운영하는 14개 공항의 국내선 항공기 스케줄 정보를 제공합니다.",
    "operationId": "taxfree-dom",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "fid",
     "description": "편명UNIQ코드값 (샘플:2023031400000004911979)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "flightId",
     "description": "항공기 편명 (샘플:OZ6868)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "depCityCode",
     "description": "출발공항 코드값 (샘플:CJU)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "depCity",
     "description": "출발공항(도시) (샘플:제주)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "arrvCityCode",
     "description": "도착공항 코드값 (샘플:KIX)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "arrvCity",
     "description": "도착공항(도시) (샘플:오사카/간사이)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schAirLine",
     "description": "항공사 코드값 (샘플:OZ)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "fgenType",
     "description": "I(Insert): 신규, U(Update): 변경, D(Delete): 삭제 (샘플:I)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "fgenTime",
     "description": "데이터 생성시간(Year-Month-Day-Hour-Minute-Second) 요청값 이후의 생성시간 데이터 조회) (샘플:20230314091410)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "type",
     "description": "응답 형식(JSON & XML), 기본값 : XML (샘플:xml)",
     "type": "string",
     "required": false,
     "in": "query"
    }
   ]
  },
  "/dom": {
   "get": {
    "responses": {
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "type": "object",
         "description": "header",
         "properties": {
          "resultCode": {
           "type": "string",
           "description": "결과코드",
           "properties": {}
          },
          "resultMsg": {
           "type": "string",
           "description": "결과메시지",
           "properties": {}
          }
         }
        },
        "body": {
         "type": "object",
         "description": "body",
         "properties": {
          "totalCount": {
           "type": "string",
           "description": "전체 결과 수",
           "properties": {}
          },
          "pageNo": {
           "type": "string",
           "description": "페이지번호",
           "properties": {}
          },
          "numOfRows": {
           "type": "string",
           "description": "한 페이지 결과 수",
           "properties": {}
          },
          "items": {
           "type": "object",
           "description": "items",
           "properties": {
            "item": {
             "type": "object",
             "description": "item",
             "properties": {
              "domesticSat": {
               "type": "string",
               "description": "토요일",
               "properties": {}
              },
              "airlinehomepageUrl": {
               "type": "string",
               "description": "항공사 홈페이지",
               "properties": {}
              },
              "airlineKorean": {
               "type": "string",
               "description": "항공사(국문)",
               "properties": {}
              },
              "arrivalcity": {
               "type": "string",
               "description": "도착공항",
               "properties": {}
              },
              "domesticArrivalTime": {
               "type": "string",
               "description": "도착시간",
               "properties": {}
              },
              "domesticNum": {
               "type": "string",
               "description": "항공편명",
               "properties": {}
              },
              "domesticStartTime": {
               "type": "string",
               "description": "출발시간",
               "properties": {}
              },
              "startcity": {
               "type": "string",
               "description": "출발공항",
               "properties": {}
              },
              "domesticSun": {
               "type": "string",
               "description": "일요일",
               "properties": {}
              },
              "domesticMon": {
               "type": "string",
               "description": "월요일",
               "properties": {}
              },
              "domesticTue": {
               "type": "string",
               "description": "화요일",
               "properties": {}
              },
              "domesticWed": {
               "type": "string",
               "description": "수요일",
               "properties": {}
              },
              "domesticThu": {
               "type": "string",
               "description": "목요일",
               "properties": {}
              },
              "domesticFri": {
               "type": "string",
               "description": "금요일",
               "properties": {}
              },
              "airlineEnglish": {
               "type": "string",
               "description": "항공사(영문)",
               "properties": {}
              },
              "arrivalcityCode": {
               "type": "string",
               "description": "도착공항 코드",
               "properties": {}
              },
              "domesticEddate": {
               "type": "string",
               "description": "운항종료일자",
               "properties": {}
              },
              "domesticStdate": {
               "type": "string",
               "description": "운상시작일자",
               "properties": {}
              },
              "flightPurpose": {
               "type": "string",
               "description": "비행목적",
               "properties": {}
              },
              "startcityCode": {
               "type": "string",
               "description": "출발 공항 코드",
               "properties": {}
              }
             }
            }
           }
          }
         }
        }
       },
       "xml": {
        "name": "response"
       }
      }
     },
     "": {
      "description": ""
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "국내선 운항스케줄",
    "description": "국내선/국제선 공항간 운항스케줄 정보를 제공",
    "operationId": "dom",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schDate",
     "description": "검색일자 (샘플:20260101)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schDeptCityCode",
     "description": "도착 도시 코드 (샘플:GMP)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schArrvCityCode",
     "description": "출항 도시 코드 (샘플:PUS)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schAirLine",
     "description": "항공편 코드 (샘플:AB)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schFlightNum",
     "description": "항공편 넘버 (샘플:100)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "type",
     "description": "응답 형식(JSON & XML), 기본값 : XML (샘플:xml)",
     "type": "string",
     "required": false,
     "in": "query"
    }
   ]
  },
  "/int": {
   "get": {
    "responses": {
     "200": {
      "description": "성공",
      "schema": {
       "type": "object",
       "properties": {
        "header": {
         "type": "object",
         "description": "header",
         "properties": {
          "resultCode": {
           "type": "string",
           "description": "결과코드",
           "properties": {}
          },
          "resultMsg": {
           "type": "string",
           "description": "결과메시지",
           "properties": {}
          }
         }
        },
        "body": {
         "type": "object",
         "description": "body",
         "properties": {
          "totalCount": {
           "type": "string",
           "description": "전체 결과 수",
           "properties": {}
          },
          "pageNo": {
           "type": "string",
           "description": "페이지번호",
           "properties": {}
          },
          "numOfRows": {
           "type": "string",
           "description": "한 페이지 결과 수",
           "properties": {}
          },
          "items": {
           "type": "object",
           "description": "items",
           "properties": {
            "item": {
             "type": "object",
             "description": "item",
             "properties": {
              "internationalSat": {
               "type": "string",
               "description": "토요일",
               "properties": {}
              },
              "airlineKorean": {
               "type": "string",
               "description": "항공사(국문)",
               "properties": {}
              },
              "airport": {
               "type": "string",
               "description": "기준공항",
               "properties": {}
              },
              "city": {
               "type": "string",
               "description": "운항구간",
               "properties": {}
              },
              "internationalNum": {
               "type": "string",
               "description": "항공편명",
               "properties": {}
              },
              "internationalSun": {
               "type": "string",
               "description": "일요일",
               "properties": {}
              },
              "internationalMon": {
               "type": "string",
               "description": "월요일",
               "properties": {}
              },
              "internationalTue": {
               "type": "string",
               "description": "화요일",
               "properties": {}
              },
              "internationalWed": {
               "type": "string",
               "description": "수요일",
               "properties": {}
              },
              "internationalThu": {
               "type": "string",
               "description": "목요일",
               "properties": {}
              },
              "internationalFri": {
               "type": "string",
               "description": "금요일",
               "properties": {}
              },
              "airlineEnglish": {
               "type": "string",
               "description": "항공사(영문)",
               "properties": {}
              },
              "airportCode": {
               "type": "string",
               "description": "출발공항코드",
               "properties": {}
              },
              "cityCode": {
               "type": "string",
               "description": "도시코드",
               "properties": {}
              },
              "flightPurpose": {
               "type": "string",
               "description": "비행목적",
               "properties": {}
              },
              "internationalEddate": {
               "type": "string",
               "description": "운항종료날짜",
               "properties": {}
              },
              "internationalStdate": {
               "type": "string",
               "description": "운항시작날짜",
               "properties": {}
              },
              "airlinehomepageUrl": {
               "type": "string",
               "description": "항공사 홈페이지 주소",
               "properties": {}
              },
              "internationalIoType": {
               "type": "string",
               "description": "국제선 출입국 구분",
               "properties": {}
              },
              "internationalTime": {
               "type": "string",
               "description": "국제선 운항 시간",
               "properties": {}
              }
             }
            }
           }
          }
         }
        }
       },
       "xml": {
        "name": "response"
       }
      }
     },
     "": {
      "description": ""
     }
    },
    "tags": [
     "API 목록"
    ],
    "summary": "국제선 운항 스케줄",
    "description": "국제선 공항간 운항스케줄 정보를 제공",
    "operationId": "int",
    "consumes": [
     "application/json"
    ],
    "produces": [
     "application/json",
     "application/xml"
    ]
   },
   "parameters": [
    {
     "name": "serviceKey",
     "description": "공공데이터포털에서 받은 인증키",
     "type": "string",
     "required": true,
     "in": "query"
    },
    {
     "name": "pageNo",
     "description": "페이지번호",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "numOfRows",
     "description": "한 페이지 결과 수",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schDate",
     "description": "검색일자 (샘플:20251005)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schDeptCityCode",
     "description": "출발 도시 코드 (샘플:GMP)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schArrvCityCode",
     "description": "도착 도시 코드 (샘플:HND)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schAirLine",
     "description": "항공편 코드 (샘플:NH)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "schFlightNum",
     "description": "항공편 넘버 (샘플:NH862)",
     "type": "string",
     "required": false,
     "in": "query"
    },
    {
     "name": "type",
     "description": "응답 형식(JSON & XML), 기본값 : XML (샘플:xml)",
     "type": "string",
     "required": false,
     "in": "query"
    }
   ]
  }
 },
 "definitions": {
  "taxfree-int_response": {
   "type": "object",
   "properties": {
    "header": {
     "type": "object",
     "description": "header",
     "properties": {
      "resultCode": {
       "type": "string",
       "description": "결과코드"
      },
      "resultMsg": {
       "type": "string",
       "description": "결과메시지"
      }
     }
    },
    "body": {
     "type": "object",
     "description": "body",
     "properties": {
      "totalCount": {
       "type": "string",
       "description": "전체 결과 수"
      },
      "pageNo": {
       "type": "string",
       "description": "페이지번호"
      },
      "numOfRows": {
       "type": "string",
       "description": "한 페이지 결과 수"
      },
      "items": {
       "type": "object",
       "description": "items",
       "properties": {
        "item": {
         "type": "object",
         "description": "item",
         "properties": {
          "arrvcity": {
           "type": "string",
           "description": "도착공항(도시)"
          },
          "fid": {
           "type": "string",
           "description": "편명UNIQ코드값"
          },
          "fgentime": {
           "type": "string",
           "description": "데이터 생성시간(Year-Month-Day-Hour-Minute-Second)"
          },
          "flightid": {
           "type": "string",
           "description": "항공편명"
          },
          "st": {
           "type": "string",
           "description": "출발시간"
          },
          "firstdate": {
           "type": "string",
           "description": "정기운항 시작일"
          },
          "lastdate": {
           "type": "string",
           "description": "정기운항 종료일"
          },
          "ynmon": {
           "type": "string",
           "description": "월요일 취항여부(취항:Y, 미취항: N)"
          },
          "yntue": {
           "type": "string",
           "description": "화요일 취항여부(취항:Y, 미취항: N)"
          },
          "ynwed": {
           "type": "string",
           "description": "수요일 취항여부(취항:Y, 미취항: N)"
          },
          "ynthu": {
           "type": "string",
           "description": "목요일 취항여부(취항:Y, 미취항: N)"
          },
          "ynfri": {
           "type": "string",
           "description": "금요일 취항여부(취항:Y, 미취항: N)"
          },
          "ynsat": {
           "type": "string",
           "description": "토요일 취항여부(취항:Y, 미취항: N)"
          },
          "ynsun": {
           "type": "string",
           "description": "일요일 취항여부(취항:Y, 미취항: N)"
          },
          "airline": {
           "type": "string",
           "description": "항공사 국문명"
          },
          "airlinecode": {
           "type": "string",
           "description": "항공사코드(IATA)"
          },
          "depcitycode": {
           "type": "string",
           "description": "출발공항 코드값"
          },
          "depcity": {
           "type": "string",
           "description": "출발공항(도시)"
          },
          "arrvcitycode": {
           "type": "string",
           "description": "도착공항 코드값"
          },
          "fgenType": {
           "type": "string",
           "description": "I(Insert): 신규, U(Update): 변경, D(Delete): 삭제"
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "taxfree-dom_response": {
   "type": "object",
   "properties": {
    "header": {
     "type": "object",
     "description": "header",
     "properties": {
      "resultCode": {
       "type": "string",
       "description": "결과코드"
      },
      "resultMsg": {
       "type": "string",
       "description": "결과메시지"
      }
     }
    },
    "body": {
     "type": "object",
     "description": "body",
     "properties": {
      "totalCount": {
       "type": "string",
       "description": "전체 결과 수"
      },
      "pageNo": {
       "type": "string",
       "description": "페이지번호"
      },
      "numOfRows": {
       "type": "string",
       "description": "한 페이지 결과 수"
      },
      "items": {
       "type": "object",
       "description": "items",
       "properties": {
        "item": {
         "type": "object",
         "description": "item",
         "properties": {
          "arrvcity": {
           "type": "string",
           "description": "도착공항(도시)"
          },
          "fid": {
           "type": "string",
           "description": "편명UNIQ코드값"
          },
          "fgentime": {
           "type": "string",
           "description": "데이터 생성시간(Year-Month-Day-Hour-Minute-Second)"
          },
          "flightid": {
           "type": "string",
           "description": "항공편명"
          },
          "st": {
           "type": "string",
           "description": "출발시간"
          },
          "firstdate": {
           "type": "string",
           "description": "정기운항 시작일"
          },
          "lastdate": {
           "type": "string",
           "description": "정기운항 종료일"
          },
          "ynmon": {
           "type": "string",
           "description": "월요일 취항여부(Y:취항, N:미취항)"
          },
          "yntue": {
           "type": "string",
           "description": "화요일 취항여부(Y:취항, N:미취항)"
          },
          "ynwed": {
           "type": "string",
           "description": "수요일 취항여부(Y:취항, N:미취항)"
          },
          "ynthu": {
           "type": "string",
           "description": "목요일 취항여부(Y:취항, N:미취항)"
          },
          "ynfri": {
           "type": "string",
           "description": "금요일 취항여부(Y:취항, N:미취항)"
          },
          "ynsat": {
           "type": "string",
           "description": "토요일 취항여부(Y:취항, N:미취항)"
          },
          "ynsun": {
           "type": "string",
           "description": "일요일 취항여부(Y:취항, N:미취항)"
          },
          "airline": {
           "type": "string",
           "description": "항공사 국문명"
          },
          "airlineCode": {
           "type": "string",
           "description": "항공사코드(IATA)"
          },
          "depcitycode": {
           "type": "string",
           "description": "출발공항 코드값"
          },
          "depcity": {
           "type": "string",
           "description": "출발공항(도시)"
          },
          "arrvcitycode": {
           "type": "string",
           "description": "도착공항 코드값"
          },
          "fgenType": {
           "type": "string",
           "description": "I(Insert): 신규, U(Update): 변경, D(Delete): 삭제"
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "dom_response": {
   "type": "object",
   "properties": {
    "header": {
     "type": "object",
     "description": "header",
     "properties": {
      "resultCode": {
       "type": "string",
       "description": "결과코드"
      },
      "resultMsg": {
       "type": "string",
       "description": "결과메시지"
      }
     }
    },
    "body": {
     "type": "object",
     "description": "body",
     "properties": {
      "totalCount": {
       "type": "string",
       "description": "전체 결과 수"
      },
      "pageNo": {
       "type": "string",
       "description": "페이지번호"
      },
      "numOfRows": {
       "type": "string",
       "description": "한 페이지 결과 수"
      },
      "items": {
       "type": "object",
       "description": "items",
       "properties": {
        "item": {
         "type": "object",
         "description": "item",
         "properties": {
          "domesticSat": {
           "type": "string",
           "description": "토요일"
          },
          "airlinehomepageUrl": {
           "type": "string",
           "description": "항공사 홈페이지"
          },
          "airlineKorean": {
           "type": "string",
           "description": "항공사(국문)"
          },
          "arrivalcity": {
           "type": "string",
           "description": "도착공항"
          },
          "domesticArrivalTime": {
           "type": "string",
           "description": "도착시간"
          },
          "domesticNum": {
           "type": "string",
           "description": "항공편명"
          },
          "domesticStartTime": {
           "type": "string",
           "description": "출발시간"
          },
          "startcity": {
           "type": "string",
           "description": "출발공항"
          },
          "domesticSun": {
           "type": "string",
           "description": "일요일"
          },
          "domesticMon": {
           "type": "string",
           "description": "월요일"
          },
          "domesticTue": {
           "type": "string",
           "description": "화요일"
          },
          "domesticWed": {
           "type": "string",
           "description": "수요일"
          },
          "domesticThu": {
           "type": "string",
           "description": "목요일"
          },
          "domesticFri": {
           "type": "string",
           "description": "금요일"
          },
          "airlineEnglish": {
           "type": "string",
           "description": "항공사(영문)"
          },
          "arrivalcityCode": {
           "type": "string",
           "description": "도착공항 코드"
          },
          "domesticEddate": {
           "type": "string",
           "description": "운항종료일자"
          },
          "domesticStdate": {
           "type": "string",
           "description": "운상시작일자"
          },
          "flightPurpose": {
           "type": "string",
           "description": "비행목적"
          },
          "startcityCode": {
           "type": "string",
           "description": "출발 공항 코드"
          }
         }
        }
       }
      }
     }
    }
   }
  },
  "int_response": {
   "type": "object",
   "properties": {
    "header": {
     "type": "object",
     "description": "header",
     "properties": {
      "resultCode": {
       "type": "string",
       "description": "결과코드"
      },
      "resultMsg": {
       "type": "string",
       "description": "결과메시지"
      }
     }
    },
    "body": {
     "type": "object",
     "description": "body",
     "properties": {
      "totalCount": {
       "type": "string",
       "description": "전체 결과 수"
      },
      "pageNo": {
       "type": "string",
       "description": "페이지번호"
      },
      "numOfRows": {
       "type": "string",
       "description": "한 페이지 결과 수"
      },
      "items": {
       "type": "object",
       "description": "items",
       "properties": {
        "item": {
         "type": "object",
         "description": "item",
         "properties": {
          "internationalSat": {
           "type": "string",
           "description": "토요일"
          },
          "airlineKorean": {
           "type": "string",
           "description": "항공사(국문)"
          },
          "airport": {
           "type": "string",
           "description": "기준공항"
          },
          "city": {
           "type": "string",
           "description": "운항구간"
          },
          "internationalNum": {
           "type": "string",
           "description": "항공편명"
          },
          "internationalSun": {
           "type": "string",
           "description": "일요일"
          },
          "internationalMon": {
           "type": "string",
           "description": "월요일"
          },
          "internationalTue": {
           "type": "string",
           "description": "화요일"
          },
          "internationalWed": {
           "type": "string",
           "description": "수요일"
          },
          "internationalThu": {
           "type": "string",
           "description": "목요일"
          },
          "internationalFri": {
           "type": "string",
           "description": "금요일"
          },
          "airlineEnglish": {
           "type": "string",
           "description": "항공사(영문)"
          },
          "airportCode": {
           "type": "string",
           "description": "출발공항코드"
          },
          "cityCode": {
           "type": "string",
           "description": "도시코드"
          },
          "flightPurpose": {
           "type": "string",
           "description": "비행목적"
          },
          "internationalEddate": {
           "type": "string",
           "description": "운항종료날짜"
          },
          "internationalStdate": {
           "type": "string",
           "description": "운항시작날짜"
          },
          "airlinehomepageUrl": {
           "type": "string",
           "description": "항공사 홈페이지 주소"
          },
          "internationalIoType": {
           "type": "string",
           "description": "국제선 출입국 구분"
          },
          "internationalTime": {
           "type": "string",
           "description": "국제선 운항 시간"
          }
         }
        }
       }
      }
     }
    }
   }
  }
 }
}